@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pink{
    background-color: #ffecf9;
}

.h-font {
    font-family: 'House Easter Outline', sans-serif;
    font-family: 'House Easter', sans-serif;
    font-family: 'House Easter Shadow', sans-serif;
    font-size: 50px;
    color: #fa47c8;
    text-align: center;
}
.anime{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #fc34c5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 12px
}

.button:hover {
    background-color: #555;
}
.font1{
    /*font-family: 'Huglove', sans-serif;*/
    font-family: 'Too Freakin Cute Demo', sans-serif;
    font-size:25px;
    font-weight: 300;
    /*font-family: 'Too Freakin Cute Demo', sans-serif;*/
}
/*.Title{*/
/*    color: #fc34c5;*/
/*    font-family: 'House Easter Outline', sans-serif;*/
/*    font-family: 'House Easter', sans-serif;*/
/*    font-family: 'House Easter Shadow', sans-serif;*/
/*    text-align: center;*/
/*    font-size: 35px;*/
/*}*/
.News{
    font-family: 'House Easter Outline', sans-serif;
    font-family: 'House Easter', sans-serif;
    font-family: 'House Easter Shadow', sans-serif;
    font-size: 50px;
    color: #fa47c8;
}
.h-news{
    font-family: 'House Easter Outline', sans-serif;
    font-family: 'House Easter', sans-serif;
    font-family: 'House Easter Shadow', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #fc34c5;

}
.img{
    height: 400px;
    width: 1100px;
    border: 4px solid pink;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.selection-div{
    padding: 15px;
    background-color: solid pink;
}
#hide_1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.anime-width{
    width: 700px;
    text-align: center;
}
#reviews{
    background-color: white;
}
.pink-shadow{
    border: 3px solid pink;
    border-radius: 10px;
}
.com-width{
    width:750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-com{
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 120%;
}
.anime-info{
    color: #fc24c1;
    padding:20px;
}
.anime-details{
    color: black;
    font-size: 30px;
}
.mini-button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #fc34c5;
    text-align: center;
    cursor: pointer;
    width: 25%;
    border-radius: 12px;
    font-family: 'Too Freakin Cute Demo', sans-serif;
}
.mini-button:hover {
    background-color: #555;
}
.bg-selection{
    background-color: white;
}

/*.select{*/
/*    font-family: 'Too Freakin Cute Demo', sans-serif;*/
/*}*/
/*::-moz-selection{*/
/*    color: pink;*/
/*    background-color: white;*/
/*    font-family: 'Too Freakin Cute Demo', sans-serif;*/
/*}*/

.rating {
    unicode-bidi: bidi-override;
    /*direction: rtl;*/
}
.rating:not(:checked) > input {
    display: none;
}

#rate {
    top: -65px;
}
#rate:not(:checked) > label {
    cursor:pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;

    color: rgba(0, 135, 211, .4);
    line-height: 33px;
    text-align: center;
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
    color: rgba(0, 135, 211, .6);
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
    color: rgba(0, 135, 211, .8);
}
#rate > input:checked ~ label {
    color: rgb(0, 135, 211);
}
/* - - - - - LIKE */
#like {
    bottom: -65px;

}
#like:not(:checked) > label {
    cursor:pointer;
    width: 30px;
    height: 30px;
    /*display: block;*/

    color: rgb(252, 52, 197);
    line-height: 33px;
    text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
    color: rgb(252, 52, 197, .8);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
    color: rgb(252, 52, 197, .6);
}
#like > input:checked ~ label {
    color: rgb(252, 52, 197, .4);
}
