includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - .
    excludePaths:
        - vendor
        - storage
        - config
        - tests_codeception
        - c3.php
        - app/Http/Requests
